/* FOOTER STYLES */
@import 'medias';
.tamañoResponsive {
    font-weight: 400;
    font-size: clamp(1.3rem, 2vw, 2rem);
}
.footer {
    position: absolute;
    bottom: 0 !important;
    margin-top: 5em !important;
    overflow: visible;
    width: 100%;
    &__madeBy {
        @extend .tamañoResponsive;
        margin: 0;
    }
    &__contact {
        @extend .tamañoResponsive;
        cursor: pointer;
        margin: 0;
    }
    .mail__logo {
        width: 32px;
        opacity: 1;
        @include movil {
            width: 24px;
        }
    }
}
