@import 'variables';
body {
    color: #fff;
    /* background-color: #1c1c1c; */
    background: #485563; /* fallback for old browsers */
    background: -webkit-$gradient-body; /* Chrome 10-25, Safari 5.1-6 */
    background: $gradient-body;

    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.main__title {
    text-align: center;
    text-transform: uppercase;
    font-size: $h1-size;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #fff;
}

hr.divider {
    height: 30px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.divider:before {
    display: block;
    content: '';
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
