/* HEADER SECTION */
@import 'medias';
.header {
    margin-bottom: 80px;
    &__nav {
        background-color: rgb(87, 87, 87);
        color: #000;
        width: 100%;
        align-items: center;
        position: fixed;
        display: flex;
        justify-content: space-between;
        top: 0;
        z-index: 100;
    }

    &__logo {
        font-weight: 600;
        font-size: 1.5rem;
        margin-left: 0.5em;
        color: #ffd700;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        @include movil {
            font-size: 1.3rem;
        }
        &:visited {
            color: #ffd700;
        }
        &::after {
            content: '';
            position: absolute;
            height: 0%;
            width: 3px;
            left: -5px;
            top: 8px;
            background-color: #ffd700;
        }
        &:hover {
            color: #ffd700;
        }
        &:hover::after {
            top: 50%;
            transform: translateY(-50%);
            height: 50%;
            transition: all 0.5s ease;
            color: #ffd700;
        }
    }
    &__list {
        margin: 0;
    }
    &__item {
        display: inline-block;
        padding: 1em;
        position: relative;
        &::after {
            content: '';
            width: 0%;
            height: 3px;
            position: absolute;
            background-color: #fff;
            bottom: 30%;
            border: none;
            left: 0;
            @include desktop {
                content: '';
                width: 0%;
                height: 3px;
                position: absolute;
                background-color: #fff;
                bottom: 30%;
                border: none;
                left: 0;
            }
        }
        &:hover::after {
            width: 90% !important;
            left: 50%;
            transform: translateX(-50%);
            transition: all 1s ease;
            @include desktop {
                width: 70% !important;
                transition: all 1s ease;
            }
        }
    }
}
