/* MEDIA QUERIS */

@media screen and (max-width: 992px) {
    .header__item::after {
        content: '';
        width: 0%;
        height: 3px;
        position: absolute;
        background-color: #fff;
        bottom: 30%;
        border: none;
        left: 0;
    }

    .header__item:hover::after {
        width: 70% !important;
        transition: all 1s ease;
    }
}
@media screen and (max-width: 768px) {
    .header__nav {
        padding: 0.3em 0;
    }
    .btn-menu-checked:checked + .header__list {
        display: flex;
        position: fixed;
    }
    .header__list {
        top: 2.9rem;
        display: none;
        flex-direction: column;
        right: 0;
        width: 50%;
        background-color: #1f1f1f;
    }

    .header__item:hover a {
        color: #fff;
    }

    .menu-label {
        display: block;
        margin-right: 1em;
    }

    .main__img {
        width: 70vw;
    }
}

@media screen and (max-width: 420px) {
    .main__container {
        grid-template-columns: 1fr;
    }
    .products__card {
        width: 100%;
    }
    .products__card img {
        height: 300px;
    }
    .card__container {
        grid-template-columns: 1fr;
    }
    .header__logo {
        font-size: 1.3rem;
    }
    .mail__logo {
        width: 24px;
    }
}

@media screen and (max-width: 578px) {
    .main__form {
        width: 100%;
    }
    .main__form input {
        width: 80%;
    }
    .main__buttons input {
        margin: 0.5em 0;
    }
    .container__wrapper {
        display: none;
    }
}
