@import 'variables';
/* NOSOTROS SECTION */
.main__left {
    .main__subtitle {
        font-size: $h3-size;
    }
}
.main__mapa {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .mapa {
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    }
}
