@import 'variables';
@import 'mixins';

/* SILLONES Y SILLAS PRODUCTS SECTION */
.container__wrapper {
    left: -3px;
    position: absolute;
    top: 10px;
    height: 145px;
    width: 100px;
    overflow: hidden;
    z-index: -1;
    @include tablet {
        display: none;
    }
}
.container__ribbon {
    left: -67px;
    position: absolute;
    top: 81px;
    height: 24px;
    width: 206px;
    transform: rotate(-45deg);
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.tracking-in-contract-bck-bottom {
    -webkit-animation: tracking-in-contract-bck-bottom 1s
        cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-contract-bck-bottom 1s
        cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

/* ANIMACION TITULOS SILLONES Y SILLAS */

@-webkit-keyframes tracking-in-contract-bck-bottom {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px) translateY(300px);
        transform: translateZ(400px) translateY(300px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}
@keyframes tracking-in-contract-bck-bottom {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px) translateY(300px);
        transform: translateZ(400px) translateY(300px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

.products__card {
    @include flex-column-center();
    gap: 0.3em;
    text-align: center;
    transition: all 0.5s ease;
    overflow: hidden;
    border-radius: $radius-size;
    &:hover {
        @include hover-white-blur();
    }
    & img {
        width: 100%;
        height: 300px;
        border-radius: $radius-size;
        object-fit: cover;
        overflow: hidden;
    }
    &__description {
        background-color: #fff;
        color: #000;
        width: 100%;
        margin-top: -10px;
        border-bottom-left-radius: $radius-size;
        border-bottom-right-radius: $radius-size;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
    }
}
