@import 'reset';
@import 'global';
@import 'header';
@import 'main-section';

/* CONTACT FORM SECTION */
.main__form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-bottom: 2em;
}
.main__form input,
textarea {
    outline: none;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
}
.main__form textarea {
    margin: 2em auto;
    width: 70%;
}
.main__form input {
    width: 70%;
    height: 2em;
}
.main__buttons input {
    display: inline-block;
    width: max-content;
    border: none;
    font-weight: 100;
    background-color: #ffd700;
    color: #000;
}

.main__submit {
    padding: 0.3em 1.5em;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    display: inline-block;
}
.main__reset {
    padding: 0.3em 1.5em;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
}

/* SILLONES Y SILLAS PRODUCTS SECTION */

.container__wrapper {
    left: -3px;
    position: absolute;
    top: 10px;
    height: 145px;
    width: 100px;
    overflow: hidden;
    z-index: -1;
    @include tablet {
        display: none;
    }
}
.container__ribbon {
    left: -67px;
    position: absolute;
    top: 81px;
    height: 24px;
    width: 206px;
    transform: rotate(-45deg);
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.main__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 2em;
    gap: 1em;
}

.tracking-in-contract-bck-bottom {
    -webkit-animation: tracking-in-contract-bck-bottom 1s
        cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-contract-bck-bottom 1s
        cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

/* ANIMACION TITULOS SILLONES Y SILLAS */

@-webkit-keyframes tracking-in-contract-bck-bottom {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px) translateY(300px);
        transform: translateZ(400px) translateY(300px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}
@keyframes tracking-in-contract-bck-bottom {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px) translateY(300px);
        transform: translateZ(400px) translateY(300px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

.products__card img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.products__card {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    text-align: center;
    transition: all 0.5s ease;
}
.products__card:hover {
    filter: drop-shadow(0 0 10px rgb(161, 160, 160));
    transform: scale(1.03);
}

.img__container {
    width: 100%;
}
.card__description {
    background-color: #ddd;
    margin-top: -8px;
    color: #000;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1.3rem;
}

/* NOSOTROS SECTION */

.main__container--us {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.main__subtitle {
    font-size: clamp(1.5rem, 2vw, 3rem);
}

.main__mapa {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.mapa {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}
.main__section {
    margin-bottom: 2em;
}
@import 'footer';
@import 'medias';
